<div class="col-sm-12 col-md-12 col-lg-12 mb-4">
    <div class="col-sm-12 col-md-12 col-lg-12 form-box p-0">
        <legend class="scheduler-border custom-legend-fam mb-0">Processo Seletivo</legend>
        <hr class="mt-0">
    </div>
</div>

<div class="col-sm-12 col-md-12 col-lg-12">
    <div class="form-row">
        <div class="form-group col-md-12">
            <div class="input-field col s12  p-0 w-100 bd-highlight mt-2 mb-0">
                <label class="font-weight-normal font-color-fam">Modalidade</label>
                <select (change)="onChange($event)">
                    <option value="" disabled selected>Escolha uma modalidade de ensino</option>
                    <option value="1">Graduação presencial</option>
                    <option value="2">Graduação EAD</option>
                    <option value="3">Pós-Graduação</option>
                </select>
            </div>
        </div>
        <!-- <div class="form-group col-md-12">
            <div class="input-field col s12  p-0 w-100 bd-highlight mt-2 mb-0">
                <select>
                    <option value="" disabled selected>Escolha uma unidade de ensino</option>
                    <option value="1">Campus Augusta</option>
                    <option value="2">Campus Mooca</option>
                </select>
                <label class="font-weight-normal font-color-fam">Unidade</label>
            </div>
        </div> -->
    </div>

</div>