<div class="container-fluid">
    <div class="container ">
        <div class="row cdvfdfd">
            <div class="col-lg-12 col-md-12 login-box p-0">
                <div class="row m-0">
                    <div class="col-lg-6 col-md-6 log-det">
                        <div class="small-logo logo">
                        </div>

                        <p class="dfmn">Por favor, entre com o seu usuário e senha.</p>
                        <div class="text-box-cont">
                            <form (submit)="validaFormLogin()">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">
                                            <i class="fas fa-user"></i>
                                        </span>
                                    </div>
                                    <input type="text" mask="CPF_CNPJ" maxlength="14" class="form-control ipt_login" [(ngModel)]="user.cpf" name="cpf" placeholder="CPF" aria-label="CPF" aria-describedby="basic-addon1" />
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                    </div>
                                    <input type="password" class="form-control ipt_login" [(ngModel)]="user.password" name="password" placeholder="Senha" aria-label="Username" aria-describedby="basic-addon1" />
                                </div>
                                <div class="input-group center">
                                    <button class="btn btn-danger btn-round">Login</button>
                                </div>
                            </form>
                            <a [routerLink]="['/nova-senha']">Esqueci minha senha</a>
                            <br/>
                            <a [routerLink]="['/']">Inscreva-se</a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 box-de">
                        <div class="inn-cover">
                            <div class="ditk-inf">
                                <h2 class="w-100">Painel do Candidato </h2>
                                <!--<div class="small-img">
                  <img src="./assets/images/instrucoes_senha.png" class="img-painel" />
                </div>-->
                            </div>
                            <div class="foter-credit">
                                Desenvolvido por : Canais Digitais
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fd7e14" type="ball-scale-pulse" [fullScreen]="true">
    </ngx-spinner>
</div>
