.nav-link{
    color: #ffffff !important;
  }
  .main-sidebar, .sidebar-dark-primary, .elevation-4{
    background-color: #fd7e14;
  }

  .brand-link{
    border-bottom: 1px solid #e6e6e6 !important;
  }

  .fa-bars, .fa-comments, .fa-bell, .fa-th-large, .fa-sign-out-alt{
    color: #6c757d;
  }

.active {
    color: #fff !important;
    background-color: rgba(255,255,255,.1) !important;
    text-shadow: none !important;
    box-shadow: none !important;
}