  .main-sidebar,
  .sidebar-dark-primary,
  .elevation-4 {
    background-color: #fd7e14;
  }

  .brand-link {
    border-bottom: 1px solid #e6e6e6 !important;
  }

  .main-sidebar-dark-gray {
    background-color: #A9A9A9!important;
  }
